---
import '@fontsource/onest/300.css';
import '@fontsource/onest/400.css';
import '@fontsource/onest/500.css';
import '@fontsource/onest/600.css';
import '@fontsource/onest/700.css';
import '@fontsource/onest/800.css';
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>Confecciones Polcyr</title>
	</head>
	<body style="margin: 0; padding: 0; overflow-x: hidden;">
		<slot />
	</body>
</html>

<style is:global>

	html{
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Onest', sans-serif;
		overflow-x: hidden;
	}

	/* ASEGURAR QUE NO HAYA MÁRGENES GLOBALES */
	* {
		box-sizing: border-box;
	}
	
	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow-x: hidden;
	}
</style>
