---
import '@fontsource/onest/300.css';
import '@fontsource/onest/400.css';
import '@fontsource/onest/500.css';
import '@fontsource/onest/600.css';
import '@fontsource/onest/700.css';
import '@fontsource/onest/800.css';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>Confecciones Polcyr</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

	html{
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Onest', sans-serif;
		overflow-x: hidden;
	}
</style>
